﻿@model  AGL.Animals.Web.Models.AnimalListViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AGL Developer Test</title>
    <style type="text/css">
        body {
            text-align: left;
        }
    </style>
</head>
<body>
@if (!Model.Records.Any())
{
    <Bold>No results found</Bold>
}
@foreach (var grouping in Model.Records)
{
    <h5>@grouping.Key.ToString()</h5>
    <ul>
    @foreach (var animal in grouping.Value)
    {
        <li>@animal.Name</li>
    }
    </ul>
}
</body>
</html>